Climetlab cache:
<table class="table table-striped">
<thead>
    <tr>
   <th>path</th>
   <th>owner</th>
   <th>args</th>
   <th>creation_date</th>
   <th>last_access</th>
   <th>accesses</th>
   <th>type</th>
   <th>size</th>
    </tr>
</thead>
<tbody>
<tr>
   <td class="c2"><span>{{entry.path}}         </span> <a href="./cache/entry/{{entry.path}}">?</a> </td>
   <td class="c3"><span>{{entry.owner}}        </span></td>
   <td class="c4"><!-- span>{{entry.args}}         </span --></td>
   <td class="c5"><span>{{entry.creation_date}}</span></td>
   <td class="c5"><span>{{entry.last_access}}  </span></td>
   <td class="c5"><span>{{entry.accesses}}     </span></td>
   <td class="c5"><span>{{entry.type}}         </span></td>
   <td class="c5"><span>{{entry.size}}         </span></td>
</tr>
</tbody>
</table>

